@model eShopSolution.AdminApp.Models.RoleAssignViewModel

@{
    ViewData["Title"] = "Gán quyền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Gán quyền</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Gán quyền</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="User">Về danh sách</a>
        </div>
        <div class="card-body">
            <form asp-action="RoleAssign">
                <h4>Tài khoản: @Model.UserName</h4>
                <hr class="soft" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="RoleAssign.Id" />
                @for (var i = 0; i < Model.RoleAssign.Roles.Count; i++)
                {
                    <div class="form-group">
                        <label>

                            <input type="checkbox" asp-for="RoleAssign.Roles[i].Selected" />
                            <input type="hidden" asp-for="RoleAssign.Roles[i].Id" />
                            <input type="hidden" asp-for="RoleAssign.Roles[i].Name" />
                            @Model.RoleAssign.Roles[i].Name
                        </label>
                        
                        <span asp-validation-for="RoleAssign.Roles[i].Name" class="text-danger"></span>
                    </div>
                }
                <div class="form-group">
                    <input type="submit" value="Lưu lại" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
   


