@*@model eShopSolution.ViewModels.Catalog.Products.CategoryAssignRequest*@
@model eShopSolution.AdminApp.Models.CategoryAssignViewModel

@{
    ViewData["Title"] = "Gán danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Gán danh mục</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Gán danh mục</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách</a>
        </div>
        <div class="card-body">
            <form asp-action="CategoryAssign">
                <h4>Sản phẩm: @Model.ProductName</h4>
                <hr class="soft" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CategoryAssign.Id" />
                @for (var i = 0; i < Model.CategoryAssign.Categories.Count; i++)
                {
            <div class="form-group">
                <label>

                    <input type="checkbox" asp-for="CategoryAssign.Categories[i].Selected" />
                    <input type="hidden" asp-for="CategoryAssign.Categories[i].Id" />
                    <input type="hidden" asp-for="CategoryAssign.Categories[i].Name" />
                    @Model.CategoryAssign.Categories[i].Name
                </label>
            </div>}
                <div class="form-group">
                    <input type="submit" value="Lưu lại" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
   


