@model List<eShopSolution.ViewModels.Catalog.Categories.CategoryViewModel>
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{ 
    var culture = CultureInfo.CurrentCulture.Name;
}
<div id="sidebar" class="span3">
    @*<div class="well well-small"><a id="lbl_number_of_items_body" href="/@culture/cart"><img src="/themes/images/ico-cart.png" alt="cart"><span>0</span><localize>Itemes in your cart</localize> </a></div>*@
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        @{
            var parents = Model.Where(x => x.ParentId == 0);
        }
        @for (int index = 0; index < parents.Count(); index++)
        {
            var parent = parents.ElementAt(index);
            var children = Model.Where(x => x.ParentId == parent.Id);
            if (children.Any())
            {
                <li class="subMenu open">
                    <a href="/@culture/@_loc["categoryUrl"]/@parent.Id">@parent.Name</a>
                    <ul style="display: none">
                        @foreach (var item in children)
                        {
                            <li><a class="active" href="/@culture/@_loc["categoryUrl"]/@item.Id"><i class="icon-chevron-right"></i>@item.Name </a></li>
                        }
                        
                    </ul>
                </li>
            }
            else
            {
                <li><a href="/@culture/@_loc["categoryUrl"]/@parent.Id">@parent.Name</a></li>
            }
        }

    </ul>
    <br />
</div>
