@model CheckoutViewModel
@{ ViewData["Title"] = "Giỏ hàng";
                Layout = "~/Views/Shared/_Layout.cshtml";
                var culture = CultureInfo.CurrentCulture.Name; }

@section Scripts{
    <script src="~/js/cart.js"></script>
    <script>
        var cartController = new CartController();
        cartController.initialize();
    </script>
}
<ul class="breadcrumb">
    <li><a href="/" localize-content>Home</a> <span class="divider">/</span></li>
    <li class="active" localize-content>SHOPPING CART</li>
</ul>
<h3>
    <localize>SHOPPING CART</localize> @*[ <small>@Model.CartItems.Count <localize>Item(s)</localize> </small>]*@
    @*<a href="/" class="btn btn-large pull-right">
        <i class="icon-arrow-left"></i><localize>Continue Shopping</localize>
    </a>*@
</h3>
<hr class="soft" />

<table class="table table-bordered" id="tbl_cart">
    <thead>
        <tr>
            <th localize-content>Product</th>
            <th localize-content>ProductName</th>
            <th localize-content>Quantity</th>
            <th localize-content>Price</th>
            <th localize-content>Total</th>
        </tr>
    </thead>
    <tbody id="cart_body">
    </tbody>
    <tfoot>

        <tr>
            <td colspan="4" style="text-align: right"><strong><localize>TOTAL =</localize></strong></td>
            <td class="label label-important" style="display:block; text-align: right"> <strong><span id="lbl_total"></span> </strong></td>
        </tr>
    </tfoot>
</table>
<span id="none-cart"></span>
<a href="/" class="btn btn-large"><i class="icon-arrow-left"></i> <localize>Continue Shopping</localize> </a>
<a href="/@culture/Cart/Checkout" class="btn btn-large pull-right"><localize>Order</localize> <i class="icon-arrow-right"></i></a>


